/* General Styles */

html{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #6A7175;
    font-weight: 400;
    background-color: #fff;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    color: #29B3FF;
    line-height: 4.4rem;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: #29B3FF;
}
h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
}

body{
    width: 100%;
}

span{
    display: block;
}


/* Header */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C2C2AE;
    padding: 0.5rem 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
}

/*Header screen max-width 825px*/
@media only screen and (max-width: 825px){
.header {
    display: none;
}


}
/* Logo */
.header img{
    height: 6rem;
    width: auto;
    margin-left: 0.5rem;
}


/* Nav Bar */
.navbar li{
    display: inline;
    margin-right: 0.5rem;
}

.navbar a{
    text-decoration: none;
    font-size: 2rem;
    color: #6A7175;
}


/* Main content */
.main-container{
    display: flex;
    width:100%;
    justify-content: space-around;
    flex-direction: column;
}

/* Mission */
.mission{
    display: flex;
    height: 40rem;
    background-image: url(/Users/lukaszlukasiewicz/Desktop/PEACE/PROJEKTY_CODEACADEMY/companyweb/images/bruce-mars-sleep-unsplash.jpeg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
}

.mission-box{
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    padding: 0.5rem;
}

/* Products */
.products h2{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.products-container{
    display: flex;
   flex-direction: row;
    
}
.product-box{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: flex-start;
   
}
.product-box img{
    width: 100%;
    height: auto;

}

.product-box figcaption{
    text-align: center;
    line-height: 2rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

/* Products screen max-width 825px*/
@media only screen and (max-width: 825px){

    .products-container{
        flex-direction: column;
    }
}

/* Team */

.team{
    background-color: #FFA5A9;
    
}

.team h2{
    padding-top: 7rem;
    text-align: center;
    padding-bottom: 2rem;
}

.team-container{
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
    flex-wrap: wrap;
}

.team-box{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    justify-content: center;
    padding: 10px;
    
}

.team-box img{
    width: 100%;
    height: auto;

}

.team-box figcaption{
    text-align: center;
    line-height: 2rem;
    padding-top: 2rem;
}

/* Team screen max-width 825px*/
@media only screen and (max-width: 825px){

    .team-container{
        flex-direction: column;
    }
    .team-box{
        width: auto;
    }
   
    footer{
        font-size: 0.8rem;
    }
    
    .adres-container h3{
        font-size: 1.5rem;
    }

}
/* Contact */
.contact{
    display: flex;
    height: 40rem;
    background-image: url(/Users/lukaszlukasiewicz/Desktop/PEACE/PROJEKTY_CODEACADEMY/companyweb/images/geojango-maps-unsplash.jpeg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
}

.adres-container{
    text-align: center;
    background-color: #fff;
    opacity: 0.8;
    padding: 0.5rem;
}
/* Footer */

footer{
    display: flex;
    height: 4rem;
    background-color: #8CD6FF;
    align-items: center;
    padding-left: 0.5rem;
}